<h1>Edit your existing account, <%= @user.name %>!</h1>
<% if @errors %>
    <ul>
    <%@errors.each do |error|%>
        <li><%=error%></li>
    <%end%>
    </ul>
<%end%>

<%= form_for @user do |f| %>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>
    <p><%= f.label :username %></p>
    <p><%= f.text_field :username %></p>
    <p><%= f.label "Update your password (not required)" %></p>
    <p><%= f.password_field :password %></p>
    <p><%= f.label "Confirm your updated password (required)" %></p>
    <p><%= f.password_field :password_confirmation %></p>
    <p><%= f.submit "Update User"%>
<% end %>
