<h1><%= @plant.name %></h1>
<h2><em>Created by: <%= @plant.user.username %> </em></h2>

<img src="<%= @plant.img_url %>" height="350" width="490"><br>
<% if logged_in? %>
<% pre_like = @plant.plant_likes.find{ |like| like.user_id == current_user.id} %>
<% if pre_like %>
 <%= button_to 'Unlike', plant_plant_like_path(@plant), method: "delete" %>
<% else %>
 <%= button_to 'Like', plant_plant_likes_path(@plant), method: "post" %>
<% end %>

<% pre_favorite = @plant.favorites.find{ |fav| fav.user_id == current_user.id} %>
<% if pre_favorite %>
 <%= button_to 'Unfavorite', plant_favorite_path(@plant), method: "delete" %>
<% else %>
 <%= button_to 'Favorite', plant_favorites_path(@plant), method: "post" %>
<% end %>

<% end %>


<p><%= @plant.plant_likes.count %> likes</p>
<hr>

<h3>Sunlight: <%= @plant.sunlight %></h3>
<h3>Water: <%= @plant.water %></h3>
<h3>Soil: <%= @plant.soil %></h3>
<h3>Humidity: <%= @plant.humidity %></h3>
<h3>Temperature: <%= @plant.temperature %></h3>
<h3>Climate: <%= @plant.climate %></h3>
<h3>Pot Size: <%= @plant.pot_size %></h3>
<h3>Description: <%= @plant.description %></h3>
<hr>
<h3>Comments:</h3>
<div>
  <% @plant.comments.each do |comment| %>
  <p><em>Posted By: <%= comment.user.username %></em></p>
  <p><em>Posted on: <%= comment.time%></em></p>
  <p>Title: <%= comment.title %></p>
  <p>Content: <%= comment.content %></p>
  <p><%= comment.comment_upvotes.count %> votes</p>
  <% if logged_in? %>
  <% pre_upvoted = comment.comment_upvotes.find{ |upvote| upvote.user_id == current_user.id} %>
  <% if pre_upvoted %>
   <%= button_to 'Downvote', comment_comment_upvote_path(comment), method: "delete" %>
  <% else %>
   <%= button_to 'Upvote', comment_comment_upvotes_path(comment), method: "post" %>

  <% end %>
  <%end%>
  <hr>
  <% end %>
</div>

<% if !@plant.comments %>
<hr>
<% end %>
<% if logged_in? %>
<h2>Create Comment</h2>
<%= form_for(@comment) do |f| %>
<%= f.hidden_field :plant_id, :value => @hidden_plant.id %>
<%= f.hidden_field :user_id, :value => @current_user.id %>

<%= f.label :title %>:
<%= f.text_field :title %><br>

<%= f.label :content %>:
<%= f.text_field :content %><br>

<%= f.submit "Comment" %>
<% end %>
<% end %>
