<h1><%= @plant.name.titleize %></h1>
<h2><em>Created by: <%= link_to(@plant.user.username, user_path(@plant.user)) %> </em></h2>

<img src="<%= @plant.img_url %>" class="show-image"><br>
<% if logged_in? %>
<% pre_like = @plant.plant_likes.find{ |like| like.user_id == current_user.id} %>
<% if pre_like %>
 <%= button_to 'Unlike', plant_plant_like_path(@plant), method: "delete" %>
<% else %>
 <%= button_to 'Like', plant_plant_likes_path(@plant), method: "post" %>
<% end %>

<% pre_favorite = @plant.favorites.find{ |fav| fav.user_id == current_user.id} %>
<% if pre_favorite %>
 <%= button_to 'Unfavorite', plant_favorite_path(@plant), method: "delete" %>
<% else %>
 <%= button_to 'Favorite', plant_favorites_path(@plant), method: "post" %>
<% end %>

<% end %>


<p><%= @plant.plant_likes.count %> likes</p>
<hr>

<h3>Sunlight: </h3><p class="indented"><%= @plant.sunlight%></p>
<h3>Water: </h3><p class="indented"><%= @plant.water %></p>
<h3>Soil: </h3><p class="indented"><%= @plant.soil %></p>
<h3>Humidity: </h3><p class="indented"><%= @plant.humidity %></p>
<h3>Temperature: </h3><p class="indented"><%= @plant.temperature %></p>
<h3>Climate: </h3><p class="indented"><%= @plant.climate %></p>
<h3>Pot Size: </h3><p class="indented"><%= @plant.pot_size %></p>
<h3>Description: </h3><p class="indented"><%= @plant.description %></p>
<hr>

<% if logged_in? %>
<h2>Create Comment</h2>
<%= form_for(@comment) do |f| %>
<%= f.hidden_field :plant_id, :value => @hidden_plant.id %>
<%= f.hidden_field :user_id, :value => @current_user.id %>

<p><%= f.label :title %>:</p>
<%= f.text_field :title %><br>

<p><%= f.label :content %>:</p>
<%= f.text_area :content, size:"100x10" %><br>

<%= f.submit "Comment" %>
<% end %>

<% end %>
<hr>

<h3>Comments:</h3>
<div>
  <% @plant.comments.each do |comment| %>
  <p><em>Posted By: <%= link_to(comment.user.username, user_path(comment.user)) %></em></p>
  <p><em>Posted on: <%= comment.time%></em></p>
  <p>Title: <%= comment.title %></p>
  <p>Content: <%= comment.content %></p>
  <p><%= comment.comment_upvotes.count %> votes</p>
  <% if logged_in? %>
  <% pre_upvoted = comment.comment_upvotes.find{ |upvote| upvote.user_id == current_user.id} %>
  <% if pre_upvoted %>
   <%= button_to 'Downvote', comment_comment_upvote_path(comment), method: "delete" %>
  <% else %>
   <%= button_to 'Upvote', comment_comment_upvotes_path(comment), method: "post" %>

  <% end %>
  <%end%>
  <hr>
  <% end %>
</div>

<% if @plant.comments == [] %>
    <%= "No one has commented on this plant yet." %>
<hr>
<% end %>
