<!DOCTYPE html>
<html>
  <head>
    <title>SowWhat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
       <nav>
           <ul class="nav" id="myTopNav">
               <li>
                   <a href="/">
                   <img src="" class="nav-logo" alt="logo">
                   </a>
               </li>
               <li></li>
               <li class="active">
                   <a href="/">Login</a>
               </li>
               <li>
                   <%= link_to "Plants", plants_path %>
               </li>
               <li>
                   <%= link_to "Profile", user_path(session[:user_id]) %>
               </li>

               <li id="icon" class="icon">
                   <button>&#9776;</button>
               </li>
           </ul>
       </nav>
   </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
