<!DOCTYPE html>
<html>
  <head>
    <title>SowWhat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
       <nav>
           <ul class="nav" id="myTopNav">
               <li>
                   <a href="/">
                   <%= image_tag("https://cdn130.picsart.com/269915580027211.png?r1024x1024", class:"nav-logo", alt:"logo")%>
                   </a>
               </li>
               <li></li>
               <li>
                   <%= link_to "Plants", plants_path %>
               </li>
               <% if logged_in? %>
                   <li><%= link_to "Profile", user_path(session[:user_id]) %></li>
                   <li><%= link_to "Logout", "/sessions/destroy", method: :delete %></li>
                <% else %>
                <li>
                   <a href="/">Login</a>
               </li>
                <% end %>

               <li id="icon" class="icon">
                   <button>&#9776;</button>
               </li>
           </ul>
       </nav>
   </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
